textarea,
input {
    background-color: #0003;
    color: #fff;
    font-family: 'Open Sans', 'courier new';
    border: solid 1px #fff3;
    border-radius: 6px;
    padding: 0.5em;
}



body.contact {

    form {
        max-width: 650px;
        display: grid;
        grid-template-columns: 12ch 1fr;
        gap: 1em;
    }

    label {
        text-align: right;
    }

    textarea {
        height: 15em;
    }

    .submit {
        grid-column: -2 / -1;
    }

    button {
        padding: 0.25em 1.5em;
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        border: none;
        border-radius: 6px;
        color: #fff;
        background-color: var(--heading-color);
        transition: 0.4s;
    }

    button:hover {
        cursor: pointer;
        background-color: var(--link);
    }

}