/* =================== MAIN STYLES START HERE ================= */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bgc: #433f32;
    --container-bg: #1a1a1733;
    --txt-color: #f0d176;
    --heading-color: hsl(0, 54%, 42%);
    --h3-color: #979797;
    --border-color: #444;
    --img-border: #333;
    --link: #2E81D3;
    --link-dark: hsl(210, 75%, 40%);
}

// @media screen and (prefers-color-scheme: light) {
//     :root {
//         --bgc: #f9d570;
//         --container-bg: #f2f2e8;
//         --txt-color: #292929;
//         --heading-color: hsl(0, 54%, 42%);
//         --h3-color: #555;
//         --border-color: #ccc;
//         --img-border: #bbb;
//     }
// }


html {
    scroll-behavior: smooth;
    scrollbar-color: var(--link-dark) #0003;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0006;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--link-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--link);
}

body {
    background-color: var(--bgc);
    background-image: url(/img/layered-peaks-2.svg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    border-top: solid 0.5em var(--heading-color);
    font-size: clamp(0.94rem, calc(0.82rem + 0.45vw), 1.25rem);
    font-family: 'Open Sans', 'segoe ui', arial, sans-serif;
    font-weight: 300;
    color: var(--txt-color);
}


.content p,
.content li {
    line-height: 1.6;
}

p:empty,
li:empty {
    display: none;
}


strong,
b {
    font-weight: 600;
}

/* ----- GRID SECTION HERE ------ */

#container {
    margin: 0 auto;
    // padding: 0 clamp(0.69rem, calc(-0.04rem + 2.90vw), 2.50rem);
    padding: 0 clamp(0.50rem, calc(-0.61rem + 3.56vw), 2.50rem);
    max-width: 1500px;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 6fr minmax(20ch, 1fr);
    grid-template-rows: auto auto 1fr auto;
    grid-column-gap: 30px;
    grid-row-gap: 2em;
    background-color: var(--container-bg);
    // border-left: solid 1px var(--border-color);
    // border-right: solid 1px var(--border-color);
}

h1,
footer,
.top_menu {
    grid-column: 1/-1;
}

nav.cragnav {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

section.content {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flow-root;
}

section.columns,
div.columns {
    columns: 2 350px;
    column-gap: 2em;
}

h2,
section.columns p:first-of-type,
section.columns .topo {
    column-span: all;
}

section.columns p img {
    max-width: 100%;
}

section.columns p:nth-of-type(2),
section.columns .topo+p {
    margin-top: 0;
}

section.columns p {
    break-inside: avoid;
}



/* ------- GRID END ------- */



.top_menu {
    width: 100%;
    padding: .5em 1rem;
    // border-bottom: solid 1px var(--border-color);
    // border-top: solid 1px var(--border-color);
    margin-bottom: 1.1em;
    margin-top: 0.75em;
    /* Arent they all grid now?? -- this works on grid pages, non grid it forces the container down. */
}

.top_menu ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 1.5em;
    justify-content: space-between;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0;
}

.top_menu li,
.cragnav li {
    font-size: .9em;
}

header {
    padding-left: 1rem;
    // padding-top: 30px;
    // padding-bottom: 30px;
    margin: 1em 0;
}

h1 {
    color: var(--heading-color);
    /* text-shadow: 2px 2px var(--container-bg), 3px 3px var(--heading-color); */
    font-weight: 700;
    font-size: 4em;
    line-height: 1;
    display: block;
    margin: 0;

}

h1>small {
    font-size: .5em;
}

h2 {
    font-size: 2em;
    color: var(--heading-color);
    margin: 2.5rem 0 .5em 0;
    line-height: 1;
}

.content> :first-child {
    margin-top: 0;
}

h3 {
    font-size: 1.35em;
    padding-bottom: 0;
    margin-bottom: .3em;
    color: var(--h3-color);
}

h3+p {
    margin-top: 0;
}

h4 {
    margin: 0;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
}

h4+p {
    margin-top: 0;
}

h4 em {
    font-style: normal;
}

.new {
    /* targets the rebolted lines which are in red */
    text-transform: uppercase;
    font-size: .72rem;
    font-weight: normal;
    color: #f00;
}


// Alerts - need to be added to frontmatter

.alert {
    margin: 3em 5vw;
    padding-left: 1em;
    border-left: solid 15px;
    clear: both;
    font-weight: 600;
}

.notopmargin {
    margin-top: 0;
}

.boldcaps {
    font-weight: bold;
    text-transform: uppercase;
}


img {
    /* Allows larger images to display bigger - up to 900px wide */
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    // padding: 5px;
    // border: solid 1px var(--img-border);
    // box-shadow: 0 0 2px #99d;
}

.clear-r {
    clear: right;
}

.clear-l {
    clear: left;
}

.clear-b {
    clear: both;
}

.float-l {
    float: left;
    margin: .5em 1em .5 0;
}

.float-r {
    float: right;
}

a,
a:link,
a:visited {
    display: inline-block;
    text-decoration: none;
    color: #2E81D3;
    font-weight: normal;
    padding: 0 3px;
    border-radius: 5px;
    transition: all .3s linear;
}

a:hover,
.top_menu a.active:hover {
    background: #2E81D3;
    border-color: #2E81D3;
    color: #fff;
}

a:hover[href*="/Photographs/"] {
    background: none;
}



div[align=center] {
    text-align: left;
}

/* This section is for the crag specific menus - not all crag menus will have this applied yet */
/*.cragnav {
	min-width: 10em;
	max-width: 15em;
}  */
/* nav.cragnav {
    width: 21%;
    float: right;
} */

.cragnav {
    margin-right: 1rem;
}

.cragnav ul {
    width: 100%;
    list-style: none;
    margin: 0em 0 3vw 0;
    padding: 0;
}


.cragnav>ul>li {
    margin: 0 0 .4em 0;
    padding: 0;
}

.top_menu a,
.top_menu a:link,
.top_menu a:visited,
.cragnav>ul>li a,
.cragnav>ul>li a:link,
.cragnav>ul>li a:visited {
    display: block;
    padding: .4em;
    text-align: center;
    font-weight: bold;
    border: solid 2px #257ECA;
    height: 100%;
}

.top_menu a.active {
    color: var(--heading-color);
    border-color: var(--heading-color);
}

.cragnav>ul>li>a[href="#"],
.top_menu>ul>li>a[href="#"] {
    color: #fff;
    background: var(--heading-color);
    cursor: default;
    border: solid 2px var(--heading-color);
}

.hamburger-container {
    display: none;
}

/* ----------- BREADCRUMBS ---------------- */

.breadcrumbs {
    display: flex;
    list-style-type: none;
    // margin: 1em 0 2em 0;
    padding: 0;
    font-size: .8em;
}

.breadcrumbs a::after {
    content: ' >';
}

.breadcrumbs .active a,
.breadcrumbs .active a:hover {
    color: var(--heading-color);
    cursor: default;
    background-color: transparent;
}

.breadcrumbs a:hover {
    background-color: transparent;
    color: white;
}


/* --------- Content ----------- */

section.content {
    box-sizing: border-box;
    padding: 0 1vw 1vw 1vw;
}

.content>h2:first-child,
.content .photo:first-child,
.content .photo:first-child+* {
    margin-top: 0;
}

.content>p {
    min-width: 16em;
}

div.photo,
.content>p:not(.topo, .photo)>img,
.content>h3>img {
    float: right;
    margin-left: 1.2em;
    margin-bottom: 1em;
    max-width: 100%;
}

.content div.photo {
    margin: 1em 0 1em 1.2em;
    width: min-content;
    max-width: 75%;
}

// p.photo is for markdown content. div.photo is used in html files

@media screen and (min-width: 1500px) {

    .content p.photo {
        margin: 1em 0 1em 1.2em;
        float: right;
        width: min-content;
        max-width: 75%;
        font-size: 0.8em;

        img {
            margin-bottom: 0;
            width: auto;
            // max-width: 100%;
        }
    }
}

.content p.photo {
    img {
        max-height: 80vh;
        object-fit: contain;
        object-position: left;
    }
}

p.topo {
    font-size: 0.8em;
    margin-bottom: 3em;
}

.content .photo>p,
.topo>p {
    margin: 0 0 .5em 9px;
    min-width: 100%;
    width: min-content;
    min-width: 95%;
}

.photo>p,
.photo>p>em {
    font-size: 0.9rem;
    font-weight: normal;
}


// Figure element

@media (min-width: 750px) {
    figure {
        max-width: 60%;
        float: right;
    }
}


figcaption p {
    margin: 0 0.25em;
    font-size: 0.85em;
}

figure img,
.photo img {
    width: 100%;
    height: auto;
    max-width: 800px;
}


.updates a:first-child {
    font-weight: bold;
}

/* the .topo class is for responsive topo image containers (paragraphs in markdown) that scale with the size of the screen viewport */

.topo {
    margin-top: 1em;
    width: 100%;
}

section.columns :is(h2, p, h3)+.topo {
    margin-top: 4em;
}

.topo img {
    margin-left: 0;
    max-width: 100%;
    max-height: 80vh;
}

section:after {
    /* this is to clear any floating elements and create space between content and footer */
    content: "";
    display: block;
    clear: both;
    margin-bottom: 0;
}

// ========= FOOTER ==========

footer {
    clear: both;
    // border-top: solid 1px var(--border-color);
    padding: 1em;
}


footer:not(.test) {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    column-gap: 4em;
    row-gap: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: .8em;
    line-height: 1.6;
    background-color: #0002;
    // backdrop-filter: contrast(1.1);
    border-radius: 5px 5px 0 0;
}

footer:not(.test) ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.updated {
    max-width: 22ch;
}

.copyright {
    grid-column: 1 / -1;
    text-align: center;
}

time {
    white-space: pre;
    font-style: italic;
}

abbr {
    cursor: help;
}


/* This section is for Ban y Gor */

.banygor .cragnav ul:last-child {
    display: none;
}

.cragnav .topmargin {
    margin-top: 2.6em;
    border-bottom: solid 1px var(--border-color);
}

.debug-info ul {
    margin: 1em 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
    gap: .5em;
    font-size: 0.85em;
}

.debug-info li {
    border: solid 1px var(--border-color);
    padding: .5em;
}

.other-areas {
    grid-column: 1 / -1;
    padding-inline: 1em;
}



/* THe next stuff is for MAPS */

#map {
    height: 510px;
    max-height: 90vh;
    font-size: 1rem;
    margin: 4em 0;
    padding: 5px;
    border: solid 4px #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 2px #99d;
    clear: both;
    column-span: all;
}

#map img {
    max-width: auto;
    padding: 0;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 0;
}

.leaflet-popup,
.leaflet-popup-content-wrapper {
    margin: 0;
    padding: 1px;
}

.leaflet-popup-content,
.leaflet-popup-content b {
    color: #257ECA;
    font-size: 12px;
    line-height: auto;
    font-family: arial, sans-serif;
    background: #fff;
}

.leaflet-control-attribution .leaflet-control,
.leaflet-control-attribution a,
.leaflet-control a {
    font-family: arial;
    font-size: 10px;
}

.video {
    clear: both;
    margin-block: 3em;
    width: fit-content;
    margin-inline: auto;
}

.yt {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
}

.float-box {
    width: calc(9rem + 25vw);
    max-width: 100%;
    margin-left: 1em;
    border-radius: 12px;
    float: right;
    padding: 1em 2em 2em;
    background-color: #1117;
}

// markdown only files

.markdown-file {
    p br+em {
        // display: block;
        // margin-top: 0.25em;
    }
}

// textarea and input are in the contact.scss file