// this only affects the home page with the body tag below

body.home {

    #container {
        // display: block;
        grid-template-columns: initial;
    }

    main {
        // grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 2.5fr minmax(220px, 350px) minmax(180px, 1fr);
        gap: clamp(0.81rem, calc(-1.12rem + 3.86vw), 2.50rem);
        padding: 1em;
    }

    @media screen and (max-width: 800px) {
        main {
            display: block;
        }

        .carousel {
            display: none;
        }
    }

    header {
        grid-column: 1 / -1;
    }

    img {
        width: 100%;
    }

    .updates {
        margin: 1em 0 2em 0;
    }

    .updates ul {
        height: 530px;
        overflow: auto;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .updates li {
        margin-bottom: 0.5em;
        margin-right: 1em;
    }

    .updates b {
        font-weight: 600;
    }

    .updates time {
        font-size: 0.85em;
        font-style: normal;
    }

    .bolt-fund {
        background-color: #171714b3;
        /* border: solid 1px #525252; */
        border-radius: 5px;
        padding: .5em 1em;
        font-size: 0.9em;
    }

    .bolt-fund p {
        margin-top: 0;
    }

    .bolt-fund form {
        text-align: center;
    }

    .intro :first-child,
    .home-1 :first-child,
    .home-2 :first-child {
        margin-top: 0;
    }

    h2 {
        color: #aaa;
        margin-top: 2em !important;
        font-size: 1.8em;
    }

    p,
    li {
        line-height: 1.6;
    }
}