// Utility classes for the site - corresponds roughly to Emmet shortcuts.

.cb {
    clear: both;
}

.mt0 {
    margin-top: 0;
}

.mt1 {
    margin-top: 1em;
}

.mt2 {
    margin-top: 2em;
}

.mt4 {
    margin-top: 4em;
}

.csa {
    column-span: all;
}

.w100 img {
    width: min(100%, 850px);
}

.debolted::after {
    display: inline-block;
    margin-left: 0.25em;
    content: 'debolted';
    color: red;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.7em;
}