// Utility classes for the site - corresponds roughly to Emmet shortcuts.

.cb,
.clb {
    clear: both;
}

.cll {
    clear: left
}

.clr {
    clear: right
}

.cln {
    clear: none;
}

.fll {
    float: left !important;
    width: min-content;
}

.flr {
    float: right;
    width: min-content;
}

.fln {
    float: none;
}

.fln>img {
    float: none;
}

.m0 {
    margin: 0;
}

.mt0 {
    margin-top: 0;
}

.mt1 {
    margin-top: 1em;
}

.mt2 {
    margin-top: 2em;
}

.mt4 {
    margin-top: 4em;
}

.mb0 {
    margin-bottom: 0;
}

.mb1 {
    margin-bottom: 1em;
}

.mb2 {
    margin-bottom: 2em;
}

.mb4 {
    margin-bottom: 4em;
}

.mb8 {
    margin-bottom: 8em;
}



.ml25 {
    margin-left: 0.25em;
}

.tac {
    text-align: center;
}

.mauto {
    margin-inline: auto;
    width: fit-content;
}

.csa {
    column-span: all;
}

.csa+p {
    margin-top: 0;
}

.w100 img {
    width: min(100%, 850px);
    height: auto;
}

.w50 img {
    width: min(100%, 500px);
    height: auto;
    object-fit: cover;
}

.h100 img {
    height: min(90vh, 650px);
    width: auto;
    object-fit: contain;
    object-position: center top;
}

.rebolted::after,
.debolted::after {
    content: " rebolted";
    color: #eee;
    text-transform: uppercase;
    font-size: .6em;
    display: inline-block;
    margin-left: .5em;
    /* display: inline-block; */
    background: #0A7C00;
    line-height: 1.2;
    padding: 0.125em 0.5em;
    font-weight: 600;
    margin-left: 1em;
}

.debolted {
    color: #999;
}

.debolted::after {
    content: 'debolted';
    background-color: var(--heading-color);
}


// Alerts - need to be added to frontmatter ?? Or added .alert to a paragraph

.alert {
    margin: 3em 5vw;
    padding-left: 1em;
    border-left: solid 15px;
    clear: both;
    font-weight: 600;
}

.strong-alert {
	display: flex;
	gap: 2em;
	align-items: center;
	padding: 2em;
	font-weight: 600;
	background-color: var(--heading-color);
	background-image: linear-gradient(45deg,#3e0000,#710101);
	color: #eee;
	border-radius: 1rem;
	border: solid 4px;
}
.strong-alert::before {
	content: "!";
    display: grid;
    place-content: center;
	aspect-ratio: 1/1;
	font-size: 2em;
	font-weight: bold;
	font-family: georgia, serif;
	border: solid 4px;
	border-radius: 50%;
    padding: 1em ;
    line-height: 0;
	text-align: center;
}

.notopmargin {
    margin-top: 0;
}

.boldcaps {
    font-weight: bold;
    text-transform: uppercase;
}