<!DOCTYPE html>
<html>
{{- partial "head.html" . }}

<body class="{{- if .IsHome -}}
home
{{- else -}}
    {{- replace .Section " " "-" | lower }} {{ replace .Name " " "-" | lower }} {{ .Kind }}{{- end }}">

{{ if and (site.Params.snow) (.IsHome) }}
  {{ partial "snowflakes" . }}
{{ end }}

    <div id="container">
        
        {{- partial "nav.html" . -}}
        {{- block "main" . }}{{- end }}

        {{/* partial "other-areas" . */}}

        {{- partial "footer.html" . }}
        {{ if .Site.Params.testFooter }}
            {{ partial "test-footer.html" . }}
        {{- end -}}
    </div>
    {{ if .IsHome }}
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
    {{ end }}
</body>
</html>
