<footer>
    <p><a href="/index.xml" title="Follow Sportclimbs via our RSS feed.">RSS</a></p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/peak/">Peak District</a></li>
        <li><a href="/north-wales/">North Wales</a></li>
        <li><a href="/south-wales/">South Wales</a></li>
        <li><a href="/yorkshire/">Yorkshire</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
    <p>NB. BMC Participation Statement: The BMC recognize that climbing, hillwalking and mountaineering are activities with a danger of personal injury or death. Participants in these activities should be aware of, and accept, these risks, and be responsible for their own actions and involvement. For further information on any of these areas contact <a href="https://www.thebmc.co.uk/">The BMC</a>.</p>
</footer>

<style>
    footer:not(.test) {
        display: flex;
        gap: 1em;
    }
    footer:not(.test) ul {
        list-style-type: none;
        padding: 0;
        white-space: nowrap;
    }
</style>