<footer>
    <div class="updated">Site updated on <time>{{ now.Format "02 Jan 06" }}</time>
    <p>The site now has a total of {{ len .Site.Pages }} pages, {{ len .Site.RegularPages }} of which
        are topo pages.</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/peak/">Peak District</a></li>
        <li><a href="/north-wales/">North Wales</a></li>
        <li><a href="/south-wales/">South Wales</a></li>
        {{/*  <li><a href="/yorkshire/">Yorkshire</a></li>  */}}
        <li><a href="/search/">Search</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
    <div class="bmc"><b>BMC Participation Statement:</b> <br><abbr title="The British Mountaineering Council">The BMC</abbr> recognize that climbing, hillwalking and mountaineering are activities with a danger of personal injury or death. Participants in these activities should be aware of, and accept, these risks, and be responsible for their own actions and involvement. For further information on any of these areas contact <a href="https://www.thebmc.co.uk/">The BMC</a>.</div>
    <div class="rss"><a href="/index.xml" title="Follow Sportclimbs via our RSS feed.">RSS</a></div>
    <div class="copyright">&mdash; SportClimbs.uk &copy;{{ now.Year }} &mdash;</div>
</footer>
